<wizard-view-child></wizard-view-child>
<wizard-view-children></wizard-view-children>
<wizard-content-children>
  <step>One</step>
  <step>Two</step>
  <step>Three</step>
</wizard-content-children>
<wizard-content-children-directive>
  <step-red wizardStep></step-red>
  <step-green wizardStep></step-green>
  <step-purple wizardStep></step-purple>
</wizard-content-children-directive>
<wizard-content-children-directive-service>
  <step-red wizardStep></step-red>
  <step-green wizardStep></step-green>
  <step-purple wizardStep></step-purple>
</wizard-content-children-directive-service>
